In [70]:
import requests
import time
import pandas as pd

In [49]:
def getPriceDataForTicket(ticker_name):
    
    url = "https://alpha-vantage.p.rapidapi.com/query"
    querystring = {"function":"TIME_SERIES_DAILY","symbol": ticker_name,"outputsize":"compact","datatype":"json"}

    headers = {
        "X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com",
        "X-RapidAPI-Key": "4f3db07401msh93bcf13c268392dp1c1484jsn1f32a4fe6aa4"
    }

    response = requests.request("GET", url, headers=headers, params=querystring)
    api_response = response.json()
    
    return api_response

In [30]:
print(type(api_response))
print(type(api_response['Time Series (Daily)']))
# print((api_response['Time Series (Daily)']))

for i in api_response['Time Series (Daily)'].keys():
    print(api_response['Time Series (Daily)'][i]['4. close'])

<class 'dict'>
<class 'dict'>
260.6500
252.5600
253.1400
254.0800
266.8200
261.5000
261.1200
255.3500
260.5500
269.5000
264.5800
274.7300
277.3500
289.9800
281.7800
284.4700
277.5200
289.6300
283.2200
270.2200
280.7200
274.0300
280.8100
286.3600
285.3000
280.5200
279.8300
287.6200
282.0600
285.2600
296.9700
301.3700
299.5000
310.8800
314.9700
309.4200
308.3100
313.8600
315.4100
310.7000
303.6800
304.1000
299.4900
304.0600
299.1600
300.4300
295.2200
294.3900
287.1500
276.4400
280.0700
285.5900
288.5000
275.8500
278.9100
289.8600
295.9200
300.1900
294.9500
298.7900
297.3100
294.5900
280.2700
287.7200
287.9300
290.7300
299.5000
300.4700
295.0000
295.0400
302.3800
311.2100
304.5600
300.9500
305.9400
301.2500
313.4600
308.7600
310.9800
308.2600
299.8400
296.7100
288.4900
296.3700
296.0300
301.6000
303.3300
302.6500
310.2000
304.8000
318.2700
314.9800
314.2700
314.0400
313.8800
316.3800
329.0100
334.7500
336.3200
339.3200

In [63]:
file = open('Companies_All.txt', 'r')
list_companies = file.readlines()
for i in range(1, 100):
    print(list_companies[i].split('\t'))

['1', 'Apple Inc.', 'AAPL', '6.601638', '   139.50', '-3.61', '(-2.52%)\n']
['2', 'Microsoft Corporation', 'MSFT', '5.814204', '   258.46', '-2.19', '(-0.84%)\n']
['3', 'Amazon.com Inc.', 'AMZN', '2.801862', '   2,083.12', '-68.02', '(-3.16%)\n']
['4', 'Alphabet Inc. Class A', 'GOOGL', '1.995814', '   2,098.44', '-131.32', '(-5.89%)\n']
['5', 'Alphabet Inc. Class C', 'GOOG', '1.846174', '   2,101.81', '-131.52', '(-5.89%)\n']
['6', 'Berkshire Hathaway Inc. Class B', 'BRK.B', '1.690731', '   306.79', '-3.41', '(-1.10%)\n']
['7', 'Tesla Inc', 'TSLA', '1.681453', '   648.54', '-26.36', '(-3.91%)\n']
['8', 'Johnson & Johnson', 'JNJ', '1.40635', '   180.24', '0.80', '(0.45%)\n']
['9', 'UnitedHealth Group Incorporated', 'UNH', '1.379785', '   493.52', '1.44', '(0.29%)\n']
['10', 'Meta Platforms Inc. Class A', 'FB', '1.348948', '   179.68', '-16.55', '(-8.43%)\n']
['11', 'NVIDIA Corporation', 'NVDA', '1.257252', '   162.92', '-6.06', '(-3.59%)\n']
['12', 'Exxon Mobil Corporation', 'XOM', '1.183587', '   93.30', '-0.59', '(-0.63%)\n']
['13', 'JPMorgan Chase & Co.', 'JPM', '1.09645', '   125.15', '0.55', '(0.44%)\n']
['14', 'Procter & Gamble Company', 'PG', '1.035317', '   145.41', '0.36', '(0.25%)\n']
['15', 'Visa Inc. Class A', 'V', '1.024976', '   202.47', '-5.10', '(-2.45%)\n']
['16', 'Chevron Corporation', 'CVX', '0.985667', '   170.85', '-0.87', '(-0.51%)\n']
['17', 'Mastercard Incorporated Class A', 'MA', '0.895436', '   339.18', '-9.25', '(-2.65%)\n']
['18', 'Home Depot Inc.', 'HD', '0.88937', '   285.97', '-0.07', '(-0.02%)\n']
['19', 'Pfizer Inc.', 'PFE', '0.883796', '   53.11', '0.23', '(0.43%)\n']
['20', 'AbbVie Inc.', 'ABBV', '0.779253', '   148.01', '-0.02', '(-0.01%)\n']
['21', 'Bank of America Corp', 'BAC', '0.759245', '   35.38', '-0.49', '(-1.37%)\n']
['22', 'Coca-Cola Company', 'KO', '0.727642', '   63.47', '0.61', '(0.97%)\n']
['23', 'Eli Lilly and Company', 'LLY', '0.715404', '   301.01', '-1.59', '(-0.53%)\n']
['24', 'Merck & Co. Inc.', 'MRK', '0.705734', '   94.01', '0.18', '(0.19%)\n']
['25', 'PepsiCo Inc.', 'PEP', '0.682176', '   165.97', '0.37', '(0.22%)\n']
['26', 'Thermo Fisher Scientific Inc.', 'TMO', '0.651456', '   549.43', '-5.78', '(-1.04%)\n']
['27', 'Broadcom Inc.', 'AVGO', '0.647112', '   525.50', '-0.86', '(-0.16%)\n']
['28', 'Verizon Communications Inc.', 'VZ', '0.620884', '   49.77', '0.10', '(0.19%)\n']
['29', 'Abbott Laboratories', 'ABT', '0.605668', '   112.82', '-2.21', '(-1.92%)\n']
['30', 'Comcast Corporation Class A', 'CMCSA', '0.577605', '   42.46', '-0.43', '(-0.99%)\n']
['31', 'Walt Disney Company', 'DIS', '0.573728', '   101.77', '-4.07', '(-3.84%)\n']
['32', 'Adobe Inc.', 'ADBE', '0.571327', '   399.54', '-7.22', '(-1.78%)\n']
['33', 'Costco Wholesale Corporation', 'COST', '0.567081', '   432.73', '3.25', '(0.76%)\n']
['34', 'Cisco Systems Inc.', 'CSCO', '0.544416', '   43.09', '-0.26', '(-0.60%)\n']
['35', 'Accenture Plc Class A', 'ACN', '0.533302', '   276.27', '-7.12', '(-2.51%)\n']
['36', "McDonald's Corporation", 'MCD', '0.529554', '   243.29', '5.29', '(2.22%)\n']
['37', 'Walmart Inc.', 'WMT', '0.516447', '   123.33', '0.73', '(0.60%)\n']
['38', 'Intel Corporation', 'INTC', '0.509249', '   41.64', '-0.37', '(-0.87%)\n']
['39', 'Wells Fargo & Company', 'WFC', '0.507022', '   43.11', '-0.71', '(-1.62%)\n']
['40', 'Bristol-Myers Squibb Company', 'BMY', '0.497819', '   76.60', '-0.10', '(-0.13%)\n']
['41', 'Linde plc', 'LIN', '0.489031', '   319.06', '-1.36', '(-0.42%)\n']
['42', 'Danaher Corporation', 'DHR', '0.479624', '   251.66', '-1.46', '(-0.58%)\n']
['43', 'Philip Morris International Inc.', 'PM', '0.47509', '   105.09', '2.18', '(2.12%)\n']
['44', 'Salesforce Inc.', 'CRM', '0.470214', '   157.57', '-2.75', '(-1.72%)\n']
['45', 'Texas Instruments Incorporated', 'TXN', '0.467307', '   167.76', '-2.17', '(-1.28%)\n']
['46', 'Advanced Micro Devices Inc.', 'AMD', '0.462791', '   92.24', '-2.83', '(-2.98%)\n']
['47', 'Qualcomm Incorporated', 'QCOM', '0.443369', '   128.24', '-3.88', '(-2.94%)\n']
['48', 'AT&T Inc.', 'T', '0.441004', '   20.90', '0.16', '(0.75%)\n']
['49', 'NextEra Energy Inc.', 'NEE', '0.423878', '   73.62', '1.07', '(1.47%)\n']
['50', 'ConocoPhillips', 'COP', '0.422738', '   108.09', '-0.93', '(-0.85%)\n']
['51', 'Medtronic Plc', 'MDT', '0.41699', '   104.70', '0.44', '(0.42%)\n']
['52', 'Amgen Inc.', 'AMGN', '0.416806', '   249.75', '0.71', '(0.29%)\n']
['53', 'NIKE Inc. Class B', 'NKE', '0.41283', '   107.18', '-1.45', '(-1.33%)\n']
['54', 'Union Pacific Corporation', 'UNP', '0.411317', '   215.38', '-1.52', '(-0.70%)\n']
['55', 'Raytheon Technologies Corporation', 'RTX', '0.408407', '   90.99', '-0.85', '(-0.92%)\n']
['56', 'Honeywell International Inc.', 'HON', '0.386952', '   186.49', '-3.09', '(-1.63%)\n']
['57', 'United Parcel Service Inc. Class B', 'UPS', '0.378632', '   172.74', '-1.66', '(-0.95%)\n']
['58', 'CVS Health Corporation', 'CVS', '0.373744', '   95.60', '0.03', '(0.03%)\n']
['59', "Lowe's Companies Inc.", 'LOW', '0.373652', '   184.20', '-2.05', '(-1.10%)\n']
['60', 'S&P Global Inc.', 'SPGI', '0.369179', '   348.06', '-2.46', '(-0.70%)\n']
['61', 'Anthem Inc.', 'ANTM', '0.356881', '   497.97', '3.12', '(0.63%)\n']
['62', 'International Business Machines Corporation', 'IBM', '0.350274', '   132.48', '1.31', '(1.00%)\n']
['63', 'Morgan Stanley', 'MS', '0.347439', '   81.20', '-1.11', '(-1.35%)\n']
['64', 'American Tower Corporation', 'AMT', '0.338223', '   253.64', '4.22', '(1.69%)\n']
['65', 'Oracle Corporation', 'ORCL', '0.328594', '   69.23', '-0.81', '(-1.16%)\n']
['66', 'Caterpillar Inc.', 'CAT', '0.328185', '   203.38', '-0.77', '(-0.38%)\n']
['67', 'Goldman Sachs Group Inc.', 'GS', '0.319396', '   311.61', '-5.00', '(-1.58%)\n']
['68', 'Intuit Inc.', 'INTU', '0.313133', '   364.02', '-7.35', '(-1.98%)\n']
['69', 'Lockheed Martin Corporation', 'LMT', '0.312512', '   437.04', '4.01', '(0.93%)\n']
['70', 'Citigroup Inc.', 'C', '0.311157', '   52.36', '-0.41', '(-0.78%)\n']
['71', 'Charles Schwab Corp', 'SCHW', '0.291622', '   63.40', '-1.87', '(-2.87%)\n']
['72', 'American Express Company', 'AXP', '0.291276', '   154.74', '-4.30', '(-2.70%)\n']
['73', 'Applied Materials Inc.', 'AMAT', '0.290667', '   107.19', '-2.74', '(-2.49%)\n']
['74', 'Altria Group Inc', 'MO', '0.282916', '   52.40', '0.28', '(0.53%)\n']
['75', 'PayPal Holdings Inc.', 'PYPL', '0.281614', '   79.01', '-2.17', '(-2.67%)\n']
['76', 'Deere & Company', 'DE', '0.280046', '   333.31', '-2.06', '(-0.61%)\n']
['77', 'Automatic Data Processing Inc.', 'ADP', '0.266318', '   211.45', '-1.51', '(-0.71%)\n']
['78', 'Prologis Inc.', 'PLD', '0.265476', '   117.35', '-3.13', '(-2.60%)\n']
['79', 'Chubb Limited', 'CB', '0.265372', '   204.75', '-2.56', '(-1.23%)\n']
['80', 'BlackRock Inc.', 'BLK', '0.259157', '   612.58', '1.07', '(0.17%)\n']
['81', 'Booking Holdings Inc.', 'BKNG', '0.257596', '   2,040.51', '-66.14', '(-3.14%)\n']
['82', 'Mondelez International Inc. Class A', 'MDLZ', '0.256341', '   62.30', '0.26', '(0.42%)\n']
['83', 'ServiceNow Inc.', 'NOW', '0.256153', '   423.85', '-6.27', '(-1.46%)\n']
['84', 'Cigna Corporation', 'CI', '0.253265', '   263.07', '-0.30', '(-0.11%)\n']
['85', 'Duke Energy Corporation', 'DUK', '0.252898', '   111.88', '1.07', '(0.97%)\n']
['86', 'Analog Devices Inc.', 'ADI', '0.252708', '   160.98', '-0.57', '(-0.35%)\n']
['87', 'Starbucks Corporation', 'SBUX', '0.251477', '   72.11', '-1.31', '(-1.78%)\n']
['88', 'Netflix Inc.', 'NFLX', '0.247783', '   181.83', '-5.61', '(-2.99%)\n']
['89', 'General Electric Company', 'GE', '0.247011', '   73.05', '-2.41', '(-3.19%)\n']
['90', '3M Company', 'MMM', '0.245524', '   142.45', '-1.93', '(-1.34%)\n']
['91', 'Gilead Sciences Inc.', 'GILD', '0.237778', '   63.74', '0.08', '(0.12%)\n']
['92', 'Crown Castle International Corp', 'CCI', '0.237487', '   187.62', '2.41', '(1.30%)\n']
['93', 'Intuitive Surgical Inc.', 'ISRG', '0.236066', '   217.88', '-3.73', '(-1.68%)\n']
['94', 'Southern Company', 'SO', '0.234', '   74.71', '0.56', '(0.76%)\n']
['95', 'Stryker Corporation', 'SYK', '0.232987', '   231.56', '-1.49', '(-0.64%)\n']
['96', 'Micron Technology Inc.', 'MU', '0.231302', '   67.01', '-2.58', '(-3.71%)\n']
['97', 'Zoetis Inc. Class A', 'ZTS', '0.229199', '   162.29', '-0.71', '(-0.44%)\n']
['98', 'Marsh & McLennan Companies Inc.', 'MMC', '0.228952', '   152.58', '0.26', '(0.17%)\n']
['99', 'T-Mobile US Inc.', 'TMUS', '0.227084', '   128.13', '-1.76', '(-1.35%)\n']

In [67]:
file = open('Companies_All.txt', 'r')
list_companies = file.readlines()
main_data = []
count = 0
for i in range(1, 100):
    company_row = list_companies[i].split('\t') 
    company_ticker = company_row[2]
    data = []
    data.append(company_ticker)
    
#     response_from_api = getPriceDataForTicket(company_ticker)
    dates = response_from_api['Time Series (Daily)'].keys()
    for j in dates:
        data.append((response_from_api['Time Series (Daily)'][j]['4. close']))
    main_data.append(data)
    count += 1
    if(count % 10 == 0):
        print(count)
    time.sleep(15)

10
20
30
40
50
60
70
80
90

In [88]:
print(len(main_data[0]))
cols = ['ticker']
for i in range(len(main_data[0])):
    cols.append('Date' + str(i))

101

In [87]:
df = pd.DataFrame(main_data, columns = cols)

ValueError: 102 columns passed, passed data had 101 columns

In [72]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,AAPL,143.1100,137.5900,137.3500,140.8200,149.2400,145.5400,147.1100,142.5600,146.5000,...,175.5300,175.0800,172.1900,172.1700,172.0000,174.9200,179.7000,182.0100,177.5700,178.2000
1,MSFT,143.1100,137.5900,137.3500,140.8200,149.2400,145.5400,147.1100,142.5600,146.5000,...,175.5300,175.0800,172.1900,172.1700,172.0000,174.9200,179.7000,182.0100,177.5700,178.2000
2,AMZN,143.1100,137.5900,137.3500,140.8200,149.2400,145.5400,147.1100,142.5600,146.5000,...,175.5300,175.0800,172.1900,172.1700,172.0000,174.9200,179.7000,182.0100,177.5700,178.2000
3,GOOGL,143.1100,137.5900,137.3500,140.8200,149.2400,145.5400,147.1100,142.5600,146.5000,...,175.5300,175.0800,172.1900,172.1700,172.0000,174.9200,179.7000,182.0100,177.5700,178.2000
4,GOOG,143.1100,137.5900,137.3500,140.8200,149.2400,145.5400,147.1100,142.5600,146.5000,...,175.5300,175.0800,172.1900,172.1700,172.0000,174.9200,179.7000,182.0100,177.5700,178.2000

In [76]:
df.to_csv('RawPriceData.csv', index = False)

In [77]:
pd.read_csv('RawPriceData.csv').head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,AAPL,143.11,137.59,137.35,140.82,149.24,145.54,147.11,142.56,146.5,...,175.53,175.08,172.19,172.17,172.0,174.92,179.7,182.01,177.57,178.2
1,MSFT,143.11,137.59,137.35,140.82,149.24,145.54,147.11,142.56,146.5,...,175.53,175.08,172.19,172.17,172.0,174.92,179.7,182.01,177.57,178.2
2,AMZN,143.11,137.59,137.35,140.82,149.24,145.54,147.11,142.56,146.5,...,175.53,175.08,172.19,172.17,172.0,174.92,179.7,182.01,177.57,178.2
3,GOOGL,143.11,137.59,137.35,140.82,149.24,145.54,147.11,142.56,146.5,...,175.53,175.08,172.19,172.17,172.0,174.92,179.7,182.01,177.57,178.2
4,GOOG,143.11,137.59,137.35,140.82,149.24,145.54,147.11,142.56,146.5,...,175.53,175.08,172.19,172.17,172.0,174.92,179.7,182.01,177.57,178.2